/* Base Style */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: slateblue;
}
.container {
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 0px 25px -3px rgba(0, 0, 0, 0.76);
}
.navbar {
  margin-top: 5px;
  height: 12%;
  border-radius: 10px 10px 0 0;
  // background-color: aquamarine;
  display:flex;
  .left-side{
    display:flex;
    // margin-bottom: 5px;
    #logo {
      height: 60px;
      width: 60px;
      margin: 7px 10px 0px 20px;
    }
    #logo-name{
      height:100%;
      .row{
        font-size: 2.5rem;
        line-height:2.3rem;
        font-family: OCR A,sans-serif;
        src: url('../font/OCR-A.ttf');
        font-weight: 700;
      }
    }
  }
  .right-side{
    width:50px;
    display: grid;
    place-items: center;
    margin-right: 1rem;
    #github-logo{
      width:50px;
      height:50px;
    }
  }
}
.main {
  height: 38%;
  // background-color: brown;
  display: grid;
  place-items: center;
  .password-container {
    width:60%;
    min-width: 550px;
    background-color: rgba(84, 218, 106, 0.829);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .upper-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      #password-input {
        width: 85%;
        border: none;
        height: 50px;
        padding: 0.5rem;
        background: transparent;
        &:focus{
          border: none;
          outline: none;
        }
      }
      #refresh-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: transparent;
        cursor: pointer;
      }
      #copy-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
    .line {
      height: 3px;
      background-color: red;
      margin-top: 0.5rem;
    }
    .lower-row {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      #strength-img {
        width: 25px;
        margin-right: 0.5rem;
      }
    }
  }
}
.length-slider-part {
  height: 25%;
  // background-color: seagreen;
  text-align: center;
  h2{
    padding: 1rem 0;
  }
  input[type="range"]{
    width:50%;
  }
}
.checkboxes *{
  width:auto;
}
.checkboxes {
  height: 25%;
  border-radius: 0 0 10px 10px;
  // background-color: coral;
  text-align: center;
  padding:1.5rem;
  .checkbox-container {
    padding-top:2rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .check{
      display: flex;
      gap: 9px;
    }
  }
  input[type="checkbox"]{
    -webkit-appearance: none;
    height:20px;
    width:40px;
    border-radius: 10px;
    background-color:rgb(207, 204, 204);
    position: relative;
    &:disabled{
      cursor:not-allowed;
    }
    &::before{
      content:'';
      height:24px;
      width:24px;
      border-radius: 12px;
      background-color:slateblue;
      position: absolute;
      left: 0;
      top: -2px;
      transition: 0.2s all linear;
    }
    &:checked{
      background-color:rgba(105, 90, 205, 0.822);
      &::before{
        left:20px;
      }
    }
  }
}
@media screen and (max-width:1050px){
  .container{
    width:90vw;
  }
}